<h1>Comments</h1>

<h2><%= @movie.title %></h2>

<% @comments.each do |comment| %>
  <li><%= comment.text %></li>
<% end%>

<br>

<form action="/movies" method="get">
  <input type="submit" value="View Movie List">
</form>
