<h1>Comments for '<%= @movie.title %>'</h1>

<% @comments.each do |comment| %>
  <li><%= comment.text %></li>
<% end%>

<br>

<form action="/movies" method="get">
  <input type="submit" value="View Movie List">
</form>
