<h1>Movie List</h1>

<% @movies.each do |movie| %>
<li>
  <%= movie.title %>
  <form action="/movies/<%= movie.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
  <form action="/movies/<%= movie.id %>/edit" method="get">
    <input type="submit" value="Edit">
  </form>
</li>
<% end %>

<br>

<a href="/movies/new">Add Movie</a>
