<h1>Movie List</h1>

<ul>
  <% @movies.each do |movie| %>
  <ul>
    <h3>
      <%= movie.title %>
    </h3>
    <form action="/movies/<%= movie.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
    <form action="/movies/<%= movie.id %>/edit" method="get">
      <input type="submit" value="Edit">
    </form>
    <form action="/movies/<%= movie.id %>/comment/new" method="get">
      <input type="submit" value="Add comment">
    </form>
  </ul>
  <% end %>
</ul>

<br>

<a href="/movies/new">Add Movie</a>
